.table {
	border-collapse: separate;
	border-spacing: -200px 0px;
}
.container1 {
	width:100%;
	border:1px solid #d3d3d3;
}
.container1 div {
	width:100%;
}
.container1 .header1 {
	background-color: #54BE71;
	border-color: #54BE71;
	color: rgba(255,255,255,1);
	padding: 2px;
	cursor: pointer;
}
.container1 .content1 {
	display:none;
	padding:5px;
}
.backButton {
	background-color: #d3d3d3;
	border:1px solid #d3d3d3;
	cursor: pointer;
	display:block;
	top:-30px;
	position: relative;
}
