{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>GFG Food Map</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'GuelphFoodGuide/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'GuelphFoodGuide/css/table.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Guelph Food Guide</h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item">
                <a class="nav-link" href="/here">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="NutritionGuide.html">Nutrition guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Resources.html">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="FoodMap.html">Food Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="DietaryInfo.html">Dietary Info</a>
              </li>
<!--              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>-->
            </ul>
          </div>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Welcome to the Food Map page!</h2>
        <p class="lead">Here you will find a map of all the different food resources available on campus.</p>
        <img src="{% static '/GFGFoodMap.jpg' %}" alt="GFGFoodMap" height=512px>
      </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; GFG 2017</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
