{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>GFG Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'GuelphFoodGuide/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Guelph Food Guide</h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="NutritionGuide.html">Nutrition guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Resources.html">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="FoodMap.html">Food Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="DietaryInfo.html">Dietary Info</a>
              </li>
<!--              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>-->
            </ul>
          </div>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Welcome to the Guelph Food Guide!</h2>
        <p class="lead">The Guelph Food Guide (GFG) aims to promote education about nutritious, affordable, and available local food distribution resources on the University Campus for students and staff.</p>
<!--        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Nutrition Facts</h2>
          <p>The Nutrition Facts page gives insight onto what a healthy eating habit consists of. Inside, you can find facts about different daily values to be met for calories, as well as facts for the different food groups.</p><br><br><br>
          <p><a class="btn btn-primary" href="NutritionGuide.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>On Campus Resources</h2>
          <p>The resources page serves as a table for all the different food resources in Guelph. It contains links to all the different menus for each of these and a written location.</p><br><br><br><br>
          <p><a class="btn btn-primary" href="Resources.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Food Map</h2>
          <p>The Food Map serves as a visual representation tool for figuring out a better description of the area which a certain resource is located. The link below will take you to a map of the campus, with each of the on campus food locations on campus.</p><br><br>
          <p><a class="btn btn-primary" href="FoodMap.html" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <br>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; GFG 2017</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
