{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>GFG Resources</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'GuelphFoodGuide/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'GuelphFoodGuide/css/table.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Custom styles for this template -->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Guelph Food Guide</h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item">
                <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="NutritionGuide.html">Nutrition guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Resources.html">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="FoodMap.html">Food Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="DietaryInfo.html">Dietary Info</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Welcome to the resources page!</h2>
        <p class="lead">Here you will find a list of all the on campus resources provided to students and staff, as well as their location and links to their menus.</p>
        <p>
        <div class="container1">
          <div class="header1"><span>>Expand On-Campus Resources</span>

          </div>
          <div class="content1">
            <table class="table">
              <tr>
                <td><h6>Restaurant Name</h6></td>
                <td><h6>Restaurant Location</h6></td>
                <td><h6>Restaurant Menu</h6></td>
                <td><h6>Dietary Needs</h6></td>
                <td><h6>Price Point</h6></td>
              </tr>
              {% for resource in resources %}
              <tr>
                {% if resource.onOrOffCampus == "on" %}
                  <td>{{resource.restaurantName}}</td>
                  <td>{{resource.restaurantLocation}}</td>
                  <td><a href="menu/{{resource.restaurantName}}">Menu</a></td>
                  <td>
                    {% if resource.dietaryRestrictions == "n/a" %}
                      n/a
                      {% else %}
                      {% for i in resource.dietaryRestrictions %}
                        {% with '/GuelphFoodGuide/'|add:i|add:'.png' as image_name %}
                        <img src="{% static image_name %}" height=35px left=50%>
                        {% endwith %}
                      {% endfor %}
                    {% endif %}
                  </td>
                  <td>
                    {{resource.pricePoint}}
                  </td>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="container1">
          <div class="header1"><span>>Expand Off-Campus Resources</span>

          </div>
          <div class="content1">
            <table class="table">
              <tr>
                <td><h6>Restaurant Name</h6></td>
                <td><h6>Restaurant Location</h6></td>
                <td><h6>Restaurant Menu</h6></td>
                <td><h6>Dietary Needs</h6></td>
                <td><h6>Price Point</h6></td>
              </tr>
              {% for resource in resources %}
              <tr>
                {% if resource.onOrOffCampus == "off" %}
                  <td>{{resource.restaurantName}}</td>
                  <td>{{resource.restaurantLocation}}</td>
                  <td><a href="menu/{{resource.restaurantName}}">Menu</a></td>
                  <td>
                    {% if resource.dietaryRestrictions == "n/a" %}
                      n/a
                      {% else %}
                      {% for i in resource.dietaryRestrictions %}
                        {% with '/GuelphFoodGuide/'|add:i|add:'.png' as image_name %}
                        <img src="{% static image_name %}" height=35px left=50%>
                        {% endwith %}
                      {% endfor %}
                    {% endif %}
                  </td>
                  <td>
                    {{resource.pricePoint}}
                  </td>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; GFG 2017</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
<script>
$(".header1").click(function () {
    $header1 = $(this);
    //getting the next element
    $content1 = $header1.next();
    console.log($content1);
    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
    $content1.slideToggle(500, function () {
        //execute this after slideToggle is done
        //change text of header based on visibility of content div
        $header1.text(function () {
            //change text based on condition
            if($header1.text().includes('On-Campus')) {
              return $content1.is(":visible") ? ">Collapse On-Campus Resources" : ">Expand On-Campus Resources";
            }
            return $content1.is(":visible") ? ">Collapse Off-Campus Resources" : ">Expand Off-Campus Resources";
        });
    });
});
</script>

